<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>seo analysis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
	th {
		cursor: pointer;
	}
	td{
		word-break:break-word;
	}
	</style>
</head>
<body>
	<div class="container">
		<!-- <div class="page-header">
			<h1>python-seo-analyzer results</h1>
		</div> -->

		
			<p>total time: 1.54 seconds </p>
			<!-- <div>
				<h2>go to:</h2>
				<ul>
					<li><a href="#page-section">page analysis</a></li>
					<li><a href="#keyword-section">keyword analysis</a></li>
					<li><a href="https://github.com/sethblack/python-seo-analyzer">GitHub</a></li>
				</ul>
			</div> -->

			

			
			<h2 id="page-section">page analysis:</h2>
			<input type="button" value="hide all notices " onclick="toggleDetail()" class="btn btn-info" id="ebutton">

			<div class="table-responsive">
			<table id="pages" class="table table-striped table-hover">
				<thead>
					<tr>
						<th></th>
						<th>page</th>
						<th>word count</th>
						<th>number of notices</th>
					</tr>
				</thead>

				<tbody>
				
				
				<tr onclick="fullerrors(1)">
					<td><i class="material-icons" id="i1">keyboard_arrow_down</i></td>
					<td><a href="https://handwriter-sparsh.herokuapp.com/" target ="_blank">https://handwriter-sparsh.herokuapp.com/</a></td>
					<td>407</td>
					<td>7</td>
				</tr>
				<tr id="1" class="error-detail">
					<td colspan="4"><p>handwriter</p><p>it converts any text into the given handwriting font</p><ul><li>Description is too short (less than 140 characters): it converts any text into the given handwriting font</li><li>Missing og:image</li><li>Anchor missing title tag: https://www.calligraphr.com/en/</li><li>Anchor missing title tag: https://www.1001freefonts.com/handwriting-fonts.php</li><li>Anchor missing title tag: https://www.quantumenterprises.co.uk/handwriting-fonts/fontvault.htm</li><li>Anchor missing title tag: https://www.instagram.com/sparsh_v_rao/</li><li>Anchor missing title tag: https://www.linkedin.com/in/sparsh-rao-36383812b/</li></ul></td>
				</tr>
				
			</tbody>
			</table>
			</div>

			


			
			<h2 id="keyword-section">keyword analysis:</h2>
			<div class="table-responsive">
			<table id = "keywords" class="table table-striped">
				<thead>
					<tr>
						<th class="sortable_th">keywords</th>
						<th class="sortable_th">count</th>
					</tr>
				</thead>
				<tbody>
				
				<tr>
					<td> handwrit </td>
					<td> 13 </td>
				</tr>

				
				<tr>
					<td> imag </td>
					<td> 9 </td>
				</tr>

				
				<tr>
					<td> font </td>
					<td> 8 </td>
				</tr>

				
				<tr>
					<td> letter </td>
					<td> 6 </td>
				</tr>

				
				<tr>
					<td> space </td>
					<td> 6 </td>
				</tr>

				
				<tr>
					<td> in the </td>
					<td> 6 </td>
				</tr>

				
				<tr>
					<td> us </td>
					<td> 5 </td>
				</tr>

				
				<tr>
					<td> text </td>
					<td> 5 </td>
				</tr>

				
				<tr>
					<td> option </td>
					<td> 5 </td>
				</tr>

				
			</tbody>
			</table>
		</div>
			
			
		</div>

		<script type='text/javascript'>
		var showall = true;
		function toggleDetail(){
			if(showall){
				$(".error-detail").hide();
				$(".material-icons").text('keyboard_arrow_right');
				$("#ebutton").val('show all notices');
				showall = false;
			}else{
				$(".error-detail").show();
				$(".material-icons").text('keyboard_arrow_down');
				$("#ebutton").val('hide all notices ');
				showall = true;
			}
		}
		function fullerrors(errorid){
			var cellid = "#" + errorid;
			var pressedid = "#i" + errorid;
			$(cellid).toggle();

			if($(pressedid).html() == 'keyboard_arrow_down'){
				$(pressedid).text('keyboard_arrow_right');
			}else{
				$(pressedid).text('keyboard_arrow_down');
			}
		}
		// https://stackoverflow.com/questions/3160277/jquery-table-sort
		$(document).ready(function(){
			$('.sortable_th').click(function(){
				var table = $(this).parents('table').eq(0)
				var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
				this.asc = !this.asc
				if (!this.asc){rows = rows.reverse()}
					for (var i = 0; i < rows.length; i++){table.append(rows[i])}
				})
			function comparer(index) {
				return function(a, b) {
					var valA = getCellValue(a, index), valB = getCellValue(b, index)
					return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
				}
			}
			function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
		});
		</script>
	</body>
	</html>